<ion-header>
  <ion-toolbar>
    <ion-title>
      Derniers incidents
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div flex-xs flex-gt-xs="50" layout="column">

    <mat-card mat-theme-watch>
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content layout="row" layout-align="space-between">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <mat-card-actions layout="column" align="right">
          <ion-button (click)="getDetails()" (click)="getDetails()" class="mat-fab-button" aria-label="Favorite">+ Détails</ion-button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card mat-theme-watch>
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content layout="row" layout-align="space-between">
        Integer hendrerit arcu ac urna tempus, vitae vulputate sapien aliquam.
        <mat-card-actions layout="column" align="right">
          <ion-button (click)="getDetails()" class="mat-fab-button" aria-label="Favorite">+ Détails</ion-button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card mat-theme-watch>
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content layout="row" layout-align="space-between">
        In ut diam eu sem elementum facilisis et eget lorem.
        <mat-card-actions layout="column" align="right">
          <ion-button (click)="getDetails()" class="mat-fab-button" aria-label="Favorite">+ Détails</ion-button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card mat-theme-watch>
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content layout="row" layout-align="space-between">
        Aliquam ultricies felis in enim ornare suscipit.
        <mat-card-actions layout="column" align="right">
          <ion-button (click)="getDetails()" class="mat-fab-button" aria-label="Favorite">+ Détails</ion-button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card mat-theme-watch>
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content layout="row" layout-align="space-between">
        Donec egestas risus vel lorem pellentesque, eu luctus ante ultrices.
        <mat-card-actions layout="column" align="right">
          <ion-button (click)="getDetails()" class="mat-fab-button" aria-label="Favorite">+ Détails</ion-button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card mat-theme-watch>
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content layout="row" layout-align="space-between">
        Nullam consectetur eros fermentum, venenatis quam sit amet, hendrerit nisl.
        <mat-card-actions layout="column" align="right">
          <ion-button (click)="getDetails()" class="mat-fab-button" aria-label="Favorite">+ Détails</ion-button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card mat-theme-watch>
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content layout="row" layout-align="space-between">
        Ut congue erat quis elementum imperdiet.
        <mat-card-actions layout="column" align="right">
          <ion-button (click)="getDetails()" class="mat-fab-button" aria-label="Favorite">+ Détails</ion-button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card mat-theme-watch>
      <mat-card-title>Lorem ipsum</mat-card-title>
      <mat-card-content layout="row" layout-align="space-between">
        Quisque non leo faucibus, dignissim risus eget, molestie arcu.
        <mat-card-actions layout="column" align="right">
          <ion-button (click)="getDetails()" class="mat-fab-button" aria-label="Favorite">+ Détails</ion-button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

  </div>

</ion-content>
